
/* ==========================================================================
Fonts
========================================================================== */

@font-face {
    font-family: lemon-tuesday;
    src: url(../fonts/LemonTuesday.otf);
}

@font-face {
    font-family: futura-book;
    src: url(../fonts/FuturaBook.otf);
}

@font-face {
    font-family: futura-light;
    src: url(../fonts/FuturaLight.otf);
}

/* ==========================================================================
Base
========================================================================== */
html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html, button, input, select, textarea {
    font-family: futura-book, sans-serif;
}

body {
    margin: 0;
    font-family: futura-book, sans-serif;
    width: 100%;
    height: 100%;

}

/* ==========================================================================
Links
========================================================================== */
/* * Addresses `outline` inconsistency between Chrome and other browsers. */

/* * Improves readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* ==========================================================================
Typography
========================================================================== */

h1 {  font-size: 5em; margin: 0.67em 0; font-family: lemon-tuesday}
h2 {  font-size: 3em; margin: 1em 0; font-family: futura-light}
h3 {  font-size: 2em; margin: 1em 0; font-family: futura-light}
h3::after { content: " "; border: solid 1px #e4ebf4; display: block; width: 35px; margin: 10px auto; }
h4 {  font-size: 1.2em; margin: 0.67em 0; font-family: futura-book}
p { font-size: 1.2em; margin: 1em 0; font-family: futura-book}

/* ==========================================================================
Global Styles
========================================================================== */

h1 { color: #353535; }
h2 { color: #353535; word-spacing: 1px; line-height: 1.2em;}
h3 { color: #353535; word-spacing: 1px; line-height: 1.2em;}
h4 { color: #5c6368; word-spacing: 1px; line-height: 25px;}
p { color: #8c9398; word-spacing: 1px; line-height: 25px;}
a { color: #353535; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
a:hover, a:focus { color: #3dc9b3; text-decoration: none; }
.inner { padding-top: 100px; }
.section-padding { padding: 50px 0 0px }
.nopadding { padding: 0; }
.wrapper { height: 500px; }

/* ==========================================================================
Landing Page
========================================================================== */
.landing {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.landing .landing-body {
    vertical-align: middle;
}

.landing h1 {
    margin: 10px;
}

.landing h4 {
    letter-spacing: 1px;
}

.landing-page-btn {
    font-size: 1em;
    display: inline-block;
    padding: 18px 30px;
    color: #ffffff;
    border: solid 1px #a1a9b0;
    letter-spacing: 1px;

    position: absolute;
    margin-top: -20%;
    margin-left: auto;
    margin-right: auto;
    left: 22%;
    right: 22%;

}
.landing-page-btn:hover, .landing-page-btn:focus {
    color: #a1a9b0;
    border: solid 1px #a1a9b0;
}

/* ==========================================================================
Information
========================================================================== */
.info-icon {
    height: 175px;
    width: 175px;
    max-width: 100%;
    display: block;
    margin: 0 auto 50px;
}



/* ==========================================================================
iPhone Section
========================================================================== */
.registry-background {
    width: 50%;
    float: left;
    height: 100%;
    box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
    z-index: 1; }
.fluid-white {
    width: 50%; background: #ffffff;
    float: right;
    height: 100%;
    z-index: 2;
}
.registry-container {
    position: relative;
}

.gifts {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
}

/* ==========================================================================
FlexSlider Custom CSS
========================================================================== */
#servicesSlider { margin-top: 20px; }
ul.slides li { margin-bottom: 20px; }


/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight { visibility: visible; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.wp3 {
    background-color: white;
    background: url('../img/registry-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100%
}


